*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #eee;
    padding-top: 10vh;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.cards-container {
    display: flex;
    gap: 10px;
}

.card-item {
    width: 33.333%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    height: 500px;
    transition: all 0.35s ease;
}

.card-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 80%;
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    transition: all 0.35s ease;
}

.cards-container.card-item:hover {
    width: 25%;
}

.card-item:hover {
    width: 50% !important;
}

.card-item .card-item_img {
    height: 100%;
    width: 100%;
}

.card-item.card-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-item_text {
    position: absolute;
    bottom: 2%;
    left: 2%;
    padding: 10px 30px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
}

.card-item_description {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease;
    z-index: 1;
}

.card-item:hover .card-item_description {
    opacity: 1;
    visibility: visible;
}

.card-item:hover.card-item::after {
    opacity: 1;
}